<div class="comment-reply">
  <div class="first-line">
    <!--    username + text-->
    <div>
      <span class="owner-name" #replyUsername (click)="usernameClick()">{{reply.ownerName}}</span>
      <span class="replied-to">&nbsp;&nbsp;replied to {{reply.whomName}}</span>
      <span class="text">:&nbsp;&nbsp;&nbsp;{{reply.text}}</span>
    </div>


    <!--  likes-->
    <div class="likes" (click)="likeClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
      </svg>
      <div class="like-number" id="likeCount" #like>
        {{reply.likesCount}}
      </div>
    </div>
  </div>

  <div class="second-line">


    <!--  replyLink-->
    <div></div>
    <div class="reply" (click)="replyClick()">reply</div>
    <div class="date">{{reply.date}}</div>
  </div>
</div>

<div *ngIf="replyWasClicked">
  <app-text-field
    [way]="'reply to reply'"
    [commentOwnerName]="reply.ownerName"
    [currentUserId]="currentUserId"
    [commentId]="reply.commentId"
    (addReplayToCommentReplayEvent)="addReplayToCommentReplayEvent($event)"
    >
  </app-text-field>
</div>
