<div *ngIf="post.id != 0; else loading">
  <app-post [post]="post"></app-post>
</div>


<app-text-field
  [way]="'add comment'"
  [label]="'Write a comment'"
  [currentUserId]="currentUserId"
  [postId]="postId"
  (addCommentEvent)="addCommentEvent($event)">
</app-text-field>


<div class="comments-block">
  <div *ngIf="commentsToShow as comments" >
    <div *ngIf="comments.length > 0">
      <app-comment *ngFor="let comment of comments"
                   [comment]="comment"
                   [currentUserId]="currentUserId"
                  >
      </app-comment><!-- (addCommentReplayResponseEvent)="addCommentReplayResponseEvent($event)"-->
    </div>
  </div>
</div>

<div *ngIf="showNextCommentsButton" class="show-next-comments">
  <button class="btn btn-warning" (click)="showNextCommentsClick()">Show next comments</button>
</div>

<ng-template #loading>
  <div class="spinner-border loader" role="status"></div>
</ng-template>


<app-modal-window [data]="modalWindowData"></app-modal-window>
