<div *ngIf="post.id != 0; else loading">
  <app-post [post]="post"></app-post>
</div>


<form class="write-comment-form">
  <div class="comment-field-block">
    <label for="commentField" #commentFieldLabel>Write a comment</label>
    <textarea type="text" class="form-control me-2 mt-2" id="commentField"
              #commentField>
  </textarea>
  </div>
  <button type="button" class="btn btn-warning" (click)="sendClick()">Send</button>
</form>


<div class="comments-block">
  <div class="posts" *ngIf="commentsToShow as comments" >
    <div *ngIf="comments.length > 0">
      <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="spinner-border loader" role="status"></div>
</ng-template>


