<div class="comment" [attr.data-commentid]="comment.id" [attr.data-postid]="comment.postId">
  <div class="first-line">
<!--    username + text-->
    <div class="username-text">
      <span class="owner-name" #username (click)="usernameClick()" [attr.data-ownerid]="comment.ownerId">{{comment.ownerName}}</span>
      <span class="text">:&nbsp;&nbsp;&nbsp;{{comment.text}}</span>
    </div>


    <!--  likes-->
    <div class="likes" (click)="likeClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
      </svg>
      <div class="like-number" id="likeCount" #like>
        {{comment.likesCount}}
      </div>
    </div>
  </div>

  <div class="second-line">
    <!--  repliesCount-->
    <div *ngIf="comment.repliesCount == 0">
      <div class="replies-count">replies: {{comment.repliesCount}}</div>
    </div>
    <div *ngIf="comment.repliesCount > 0">
      <div class="watch-replies" (click)="watchCommentRepliesClick()">replies: {{comment.repliesCount}}</div>
    </div>

    <!--  replyLink-->
    <div class="reply" (click)="replyClick()">reply</div>
    <div class="date">{{comment.date}}</div>
  </div>
</div>


<!--to do comment reply component with a text field inside to write reply there. in reply to a comment will be another text field too-->
<div class="comment-replies-block">
  <div *ngIf="repliesToShow as replies" >
    <div *ngIf="replies.length > 0">
      <app-comment-reply *ngFor="let reply of replies" [reply]="reply"></app-comment-reply>
    </div>
  </div>
</div>
