<div class="comment" [attr.data-commentid]="comment.id">
  <p class="error-label" #errorLabel></p>
  <div class="first-line">
<!--    username + text-->
    <div class="username-text">
      <span class="owner-name" #username (click)="usernameClick()">{{comment.ownerName}}</span>
      <span class="text">:&nbsp;&nbsp;&nbsp;{{comment.text}}</span>
    </div>


    <!--  likes-->
    <div class="likes" (click)="likeClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
      </svg>
      <div class="like-number" id="likeCount" #commentLike>
        {{comment.likesCount}}
      </div>
    </div>
  </div>

  <div class="second-line">
    <!-- repliesCount,  show/hide replies -->
    <!-- case 1: repliesCount == 0 - nothing to show, no styles -->
    <div *ngIf="comment.repliesCount == 0"> <!-- && repliesToShow.length == 0-->
      <div class="replies-count">replies: {{comment.repliesCount}}</div>
    </div>
    <!-- case 2: repliesCount > 0 - set styles, add possibility to see comment replies -->
    <div *ngIf="comment.repliesCount > 0 && !watchRepliesButtonWasClicked && !sendReplyButtonWasClicked">
      <div class="watch-replies" (click)="watchCommentRepliesClick()">replies: {{comment.repliesCount}}</div>
    </div>
    <!-- case 3: hide replies button (if previous case was used - add possibility to hide all replies)-->
    <div *ngIf="watchRepliesButtonWasClicked || sendReplyButtonWasClicked">
      <div class="watch-replies" (click)="hideCommentRepliesClick()">hide replies</div>
    </div>


    <!--  replyLink - add new reply-->
    <div class="reply" (click)="replyClick()">reply</div>
    <div class="date">{{comment.date}}</div>
  </div>
</div>


<!--  text field for adding a new reply-->
<div *ngIf="replyButtonWasClicked">
  <app-text-field
    [way]="'reply to comment'"
    [commentOwnerName]="comment.ownerName"
    [currentUserId]="currentUserId"
    [commentId]="comment.id"
    (addCommentReplayEvent)="addCommentReplayEvent($event)">
  </app-text-field>
</div>



<!-- where replies will display-->
<div class="comment-replies-block">
  <div *ngIf="repliesToShow as replies" >
    <div *ngIf="replies.length > 0">
      <app-comment-reply *ngFor="let reply of replies"
                         [reply]="reply"
                         [currentUserId]="currentUserId"
                         (addReplayToReplayEvent)="addCommentReplayEvent($event)"
      ></app-comment-reply>
    </div>
  </div>
</div>

<!-- if replies are more then can be on page -->
<div *ngIf="showNextRepliesButton" class="show-next-replies">
  <button class="btn btn-warning" (click)="showNextRepliesClick()">Show next replies</button>
</div>

<!-- if validation on api side was failed -->
<app-modal-window [data]="modalWindowData"></app-modal-window>
