<form class="login-form mt-5" [formGroup]="form">
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Login</label>
    <input type="text" class="form-control"
           formControlName="username" id="inputLogin" aria-describedby="emailHelp">
    <div *ngIf="form.controls['username'].errors">
      <div *ngIf="form.controls['username'].errors.required"
           class="form-text text-danger">Field is required
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="text" class="form-control"
           formControlName="password" id="inputPassword">
    <div *ngIf="form.controls['password'].errors">
      <div *ngIf="form.controls['password'].errors.required"
           class="form-text text-danger">Field is required
      </div>
    </div>
  </div>


  <div class="mt-5">
    <button [disabled]="!form.valid"
            (click)="onLoginClick()"
            class="btn btn-warning">Login
    </button>
    <button (click)="onBackClick()"
            class="btn btn-warning btn-back">Back
    </button>
  </div>
</form>


<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oops!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div id="modalMessage"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
