<form class="login-form mt-5" [formGroup]="form">
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Login</label>
    <input type="text" class="form-control"
           formControlName="username" id="inputLogin" aria-describedby="emailHelp">
    <div *ngIf="form.controls['username'].errors">
      <div *ngIf="form.controls['username'].errors.required"
           class="form-text text-danger">Field is required
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="text" class="form-control"
           formControlName="password" id="inputPassword">
    <div *ngIf="form.controls['password'].errors">
      <div *ngIf="form.controls['password'].errors.required"
           class="form-text text-danger">Field is required
      </div>
    </div>
  </div>


  <div class="mt-5">
    <button [disabled]="!form.valid"
            (click)="onLoginClick()"
            class="btn btn-warning">Login
    </button>
    <button (click)="onBackClick()"
            class="btn btn-warning btn-back">Back
    </button>
  </div>
</form>


<!--<div class="modal hide" id="errorModal">-->
<!--  <div class="modal-header">-->
<!--    <button class="close" data-dismiss="modal">×</button>-->
<!--    <h3>Modal header</h3>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <p>some content</p>-->
<!--    <input type="text" name="bookId" id="bookId" value=""/>-->
<!--  </div>-->
<!--</div>-->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Oops!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="message text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
