<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="headerElement">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PhotoMania</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user-profile" routerLinkActive="active"
             class="nav-link" id="profileLink">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin-panel" routerLinkActive="active"
             class="nav-link" id="adminPanelLink">Admin panel</a>
        </li>
        <li class="nav-item">
          <a routerLink="/moderator-panel" routerLinkActive="active"
             class="nav-link" id="moderatorPanelLink">Moderator panel</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link"
          id="loginLink">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/registration" routerLinkActive="active"
             class="nav-link" id="registrationLink">Registration</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active"
             class="nav-link" id="logOutLink" (click)="logOut()">Log out</a>
        </li>
      </ul>
      <div id="searchHeaderForm">
        <div *ngIf="form.controls['search'].errors">
          <div *ngIf="form.controls['search'].errors.pattern"
               class="form-text text-danger">English letters only, digits, space, symbols ,.!/+@:^_ 3-18 symbols
          </div>
        </div>
        <form class="d-flex" [formGroup]="form">
          <input class="form-control me-2" #searchField type="search"
                 placeholder="Search" aria-label="Search" formControlName="search">
          <div class="btn-group" role="group" aria-label="outlined">
            <button [disabled]="!form.valid" type="button" class="btn btn-outline-light"
                    (click)="btnFindUserClick()">User
            </button>
            <button [disabled]="!form.valid" type="button" class="btn btn-outline-light"
                    (click)="btnFindPostsClick()">Posts
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
